files:
    "/sbin/appstart": # 파일 생성 ( path 가 설정되어 있음 )
        mode: "000755"  # 권한 설정
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar # 환경변수 설정

            # run app
            java -Dspring.profiles.active=prod -Dfile.encoding=UTF-8 -jar $JAR_PATH