# files - 파일을 생성, 소스 코드와 함께 복사됨, 다른 스크립트에서 참조 가능
# commands - 소스 코드 복사 되기 전 (root), 이 명령으로 생성된 파일은 소스 코드와 함께 복사되지 않음
# container_commands - commands 이후, 복사된 디렉토리에서 실행된다. ( webapp )
# /sbin/appstart - commands, container_commands 이후 ( root )

# commands: # 애플리케이션 소스코드가 인스턴스에 복사되기 전 실행 / container_commands 는 복사 후 ( 배포 )
container_commands:
  00_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Asia/Seoul /etc/localtime

  01_install_docker:
    command: |
      if ! command -v docker &> /dev/null; then
        sudo apt install -y docker.io
        sudo systemctl start docker 
        sudo systemctl enable docker
        sudo usermod -aG docker ubuntu
      else
        echo "Docker is already installed"
      fi

  02_install_docker_compose:
    command: |
      if ! command -v docker-compose &> /dev/null; then
        sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
      fi

