files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/02-docker-compose.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      YML_PATH=/var/app/current/docker-compose.yml
      sudo COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose -f $YML_PATH -p my-app up -d