files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |  
            source /opt/elasticbeanstalk/support/envvars
            YML_PATH=/var/app/current/docker-compose.yml
            sudo COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose -p my-app -f $YML_PATH up