files:
  "/sbin/appstart":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      YML_PATH=/var/app/current/docker-compose-eb2.yml
      docker-compose -f $YML_PATH -p my-app up


# posthooks 은 이미 docker-compose를 실행한 뒤..
# pre로 변경

# "/sbin/appstart": 인스턴스 시작 시 실행
# "/opt/elasticbeanstalk/hooks/appdeploy/post/": 배포 후 실행

# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.container.console.html#docker-env-cfg.dc-customized-logging 참고해서 다시 공부할것

# source /opt/elasticbeanstalk/support/envvars

#      HS512_SECRET="$(/opt/elasticbeanstalk/bin/get-config environment -k HS512_SECRET)"
#      DOCKERHUB_USERNAME="$(/opt/elasticbeanstalk/bin/get-config environment -k DOCKERHUB_USERNAME)"
#      TAG_VERSION="$(/opt/elasticbeanstalk/bin/get-config environment -k TAG_VERSION)"
#      echo "HS512_SECRET=$HS512_SECRET" > .env
#      echo "DOCKERHUB_USERNAME=$DOCKERHUB_USERNAME" >> .env
#      echo "TAG_VERSION=$TAG_VERSION" >> .env