container_commands:
  run_docker_compose:
    command: |
      export HS512_SECRET=${HS512_SECRET}
      export DOCKERHUB_USERNAME=${DOCKERHUB_USERNAME}
      export TAG_VERSION=0.0.1
      sudo COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose -p my-app -f /var/app/current/docker-compose-ec2.yml up -d